extends layout

block content
  #banner.page-header
    .col-lg-6
      h1 Loc8r
      strong Find places to chill with Wifi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .list-group-item
          h4
            a(href = "/location") Starcups
            small &nbsp;
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.unchecked
              span.fa.fa-star.unchecked
            span.badge.float-right.badge-dark 100m
          p.address Amarsingh Chowk-12, Pokhara, Kaski
          p
            span.badge.badge-info Hot Drinks
            small &nbsp;
            span.badge.badge-info Foods
            small &nbsp;
            span.badge.badge-info Free Wifi
        .col-xs-12.list-group-item
          h4
            a(href = "/location") KFC
            small &nbsp;
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.unchecked
              span.fa.fa-star.unchecked
            span.badge.float-right.badge-dark 200m
          p.address Prithvi Chowk-11, Pokhara, Kaski
          p
            span.badge.badge-info Cold Drinks
            small &nbsp;
            span.badge.badge-info Fried Chicken
            small &nbsp;
            span.badge.badge-info Meat Balls
        .col-xs-12.list-group-item
          h4
            a(href = "/location") Royal Mo:Mo
            small &nbsp;
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.unchecked
            span.badge.float-right.badge-dark 150m
          p.address Amarsingh Chowk-12, Pokhara, Kaski
          p
            span.badge.badge-info Mo:Mo
            small &nbsp;
            span.badge.badge-info Chowmin
            small &nbsp;
            span.badge.badge-info Free Wifi        
    .col-xs-12.col-sm-4
      p.lead Looking for food or Wifi? Let Loc8r help you find the best places around you.       


